* {
    margin: 0%;
    padding: 0%;
}

body {
    background-color: blanchedalmond;
    width: 100%;
    margin: 0%;
    padding: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar-header a img {
    width: 80px;
}

.navbar-inverse {
    background-color: rgb(5, 105, 57);
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-nav>li>a:hover {
    color: rgb(249, 265, 8);
}

.row {
    background-image: url(https://media.istockphoto.com/photos/college-classroom-picture-id481914863);
    background-image: url(images/school.jpg);
    background-image: linear-gradient(115deg, rgba(0, 102, 0, 0.1), rgba(5, 5, 97, 0.1)), url(images/student.jpg);
    background-position: center center;
    background-size: cover;
    padding: 250px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    font-family: Oswal;
    color: green;
    font-size: 36;
}

h1 {
    font-weight: 700;
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    padding: 10px;

}

.p1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-shadow: 1px 3px 3px red;
    font-size: 32;
}

button.btn-default {
    background-color: white;
    font-family: Oswal;
    font-weight: 600;
    color: black;
    font-size: 24;
    border-radius: 1.0em;
    border: 5px double red;
}
section.message {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px 0;
}
.Contactform h3 {
    color: #3250ec;
    font-size: 28px;
}

textarea,
input {
    font-size: 16px;
    display: block;
    padding: 5px 10px;
    margin: 15px auto;
    width: 40%;
}
.submit{
    padding: 15px 0;
    background-color:#3250ec;
    color: white;
    font-size: 24px;
    text-transform: uppercase;
    border: 1px solid white;
}
footer {
    display: flex;
    justify-content: space-evenly;
    background-color: #232330;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 50px 0;
}
footer div p.plast {
    color: #efe9e9;
    font-size: 18px;
}
footer div.contact {
    background-color: #232330;    
    width: 60%;
    color: #efe9e9;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer div.contactinfo {
    display: flex;
    font-size: 20;
    justify-content: space-evenly;
}

footer div.contactinfo a,
footer div.contactinfo p {
    color: #00BFFF;    
}

footer div.contactinfo h4 {
    padding-top: 15px;
}

footer div.contactinfo a:hover {
    color: cyan;
    text-decoration: none;
}

@media (max-width: 1000px){
    footer {
        display: block;
        justify-content: space-evenly;
        background-color: #232330;
        align-items: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding: 50px 0;
    }
    footer div p.plast {
        color: #efe9e9;
        font-size: 18px;
        text-align: center;
    }
    footer div.contact {
        background-color: #232330;    
        width: 100%;
        color: #efe9e9;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 50px;
    }
    
    footer div.contactinfo {
        display: flex;
        font-size: 20;
        justify-content: space-evenly;
    }
    
}
@media (max-width: 768px) {
    .navbar-header a img {
        width: 60px;
    }

    .navbar-inverse .navbar-brand {
        padding-left: 2px;
    }

    h1 {
        font-weight: 600;
        font-size: 1.0em;
    }

    .p1 {
        font-size: 24;
    }

    button.btn-default {
        font-size: 20px;
        border-radius: 1.0em;
        border: 5px double red;
    }

    footer {
        padding: 30px 0;
    }

    p.Plast {
        font-size: 12px;
        color: white;
        text-align: center;
    }
    footer div.contactinfo {
        display: flex;
        font-size: 16;
        justify-content: space-evenly;
    }
}
@media (max-width: 600px){
    .row {
        padding: 150px 0;
        display: flex;
    }
    h1 {
        font-weight: 600;
        font-size: .75em;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: white;
        padding: 10px;
    
    
    }
    
    .p1 {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: white;
        text-shadow: 1px 3px 3px red;
        font-size: 24px;
    }
    
    button.btn-default {
        background-color: white;
        font-family: Oswal;
        font-weight: 600;
        color: black;
        font-size: 18px;
        border-radius: 1.0em;
        border: 5px double red;
    }
    .Contactform h3 {
        color: #3250ec;
        font-size: 20px;
    }
    
    textarea,
    input {
        font-size: 16px;
        display: block;
        padding: 5px 10px;
        margin: 15px auto;
        width: 80%;
    }
    textarea{
        height: 100px;
    }
    .submit{
        padding: 12px 15px;
        background-color:#3250ec;
        color: white;
        font-size: 16px;
        text-transform: uppercase;
        border: 1px solid white;
        
    }
    
    footer div p.Plast {
        font-size: 14px;
        color: white;
        text-align: center;
    }
    footer div.contact {
        background-color: #232330;    
        width: 80%;
        color: #efe9e9;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-bottom: 50px;
        margin: 0 auto;
    }
   
    footer div.contactinfo {
        display: block;
        font-size: 16;
        justify-content: space-evenly;
    }   
    footer div.contactinfo h4 {
    padding: 15px 0 0px;
}
}
